html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-color {
    background-color: #111111;
}

.le-hero {
    background-size: cover;
    background-position: center;
}

